body{
    	margin:auto;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:60px;
	font-family:helvetica, sans-serif;
}
.navbar{
	width:60%;
    	position:fixed;
    	top:0px;
    	text-align:right;
    	padding-top:10px;
	padding-bottom:10px;
	background-color: white;
}
.footer{
	width:100%;
  	clear: both;
	bottom: 0;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	background-color:white;
}
.footer:after {
  content: "";
  display: table;
  clear: both;
}
#contactinfo{
	text-align:right;
	width:50%;
	float:left;
}
#legalinfo{
	text-align:left;
	width:50%;
	float:left;
}
